<div class="dt-wrapper" layout="column">

    <md-toolbar class="md-table-toolbar md-default" ng-show="!vm.dtOption.showFilter&&!vm.selectedRoleGroupsList.length">
        <div class="md-toolbar-tools">
            <h2 class="box-title">{{vm.dtOption.title}}</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.dtOption.showFilter=true">
                <md-icon>filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.addRoleGroup($event)">
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="vm.selectedRoleGroupsList.length">
        <div class="md-toolbar-tools">
            <p>Number of selected records: {{vm.selectedRoleGroupsList.length}}</p>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.delRoleGroup($event)">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="vm.dtOption.showFilter&&!vm.selectedRoleGroupsList.length">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button">
                <md-icon>search</md-icon>
            </md-button>
            <md-input-container flex>
                <input type="search" ng-model="vm.dtOption.filter" placeholder="Type search query"/>
            </md-input-container>
            <md-button class="md-icon-button" ng-click="vm.dtOption.showFilter=false">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select multiple ng-model="vm.selectedRoleGroupsList">

            <thead md-head md-order="vm.dtOption.order">
            <tr>
                <th md-column>row</th>
				<th md-column md-order-by="id">id</th>
				<th md-column md-order-by="name">name</th>
				<th md-column md-order-by="status">status</th>
				<th md-column md-order-by="desc">desc</th>
                <th md-column>&nbsp;</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-auto-select md-select="roleGroup.id"
                ng-repeat="roleGroup in vm.roleGroupsList  | filter:vm.dtOption.filter | pagination:vm.dtOption.page:vm.dtOption.limit:vm.dtOption.total:vm.dtOption.loadMore track by $index">
                <td md-cell>{{$index + 1 + (vm.dtOption.page - 1 ) * vm.dtOption.limit }}</td>
				<td md-cell>{{roleGroup.id}}</td>
				<td md-cell>{{roleGroup.name}}</td>
                <td md-cell>{{roleGroup.status?'Yes':'No'}}</td>
				<td md-cell>{{roleGroup.desc}}</td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="vm.editRoleGroup($event, roleGroup.id)">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination
        md-limit="vm.dtOption.limit"
        md-page="vm.dtOption.page"
        md-total="{{vm.dtOption.total}}"
        md-limit-options="vm.dtOption.rowsPerPage"
        md-page-select="true"
        md-on-paginate="vm.loadMore">
    </md-table-pagination>
</div>