<md-input-container class="md-block">
    <label for="name">name</label>
    <input type="text" name="name" ng-model="vm.roleGroup.name" id="name" required/>
    <div ng-messages="vm.roleGroupForm.name.$dirty && vm.roleGroupForm.name.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="unique">Duplicate Entry</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label class="md-no-float" for="status">status</label>
    <md-checkbox name="status" ng-model="vm.roleGroup.status" id="status"/>
</md-input-container>
<md-input-container class="md-block">
    <label for="desc">desc</label>
    <textarea name="desc" ng-model="vm.roleGroup.desc" id="desc"></textarea>
</md-input-container>
<div class="md-block">
    <div>
        <label for="role">roles</label>
    </div>
    <div class="checkbox-item" ng-repeat="role in vm.roles">
        <md-checkbox name="role" ng-model="vm.selectedRoles[role.id]" id="role"/>
        <span>{{role.name}}</span>
    </div>
</div>