$layoutSmallMin: 300px;
$layoutBreak: 680px;
// font
$fontSizeSmall: fontSize(.85);
$fontSizeBase: fontSize(1);
$fontSizeMedium: fontSize(1.25);
$fontSizeLarge: fontSize(1.5);
$fontSizeXLarge: fontSize(2);
$fontSizeXXLarge: fontSize(4);
// colors
$bodyBgColor: rgba(250, 250, 250, .85);
$borderColor: #c9c9c9;
// timing
$transitionShortDuration: 150ms;
$transitionMediumDuration: 300ms;
$transitionLongDuration: 600ms;
// easing
$easeIn: cubic-bezier(0.465, 0.183, 1, 1);
$easeOut: cubic-bezier(0, 0, 0.153, 0.946);
$easeInOut: cubic-bezier(0.465, 0.183, 0.153, 0.946);
// zIndex
$zIndexBase: 1;
$zIndexDialog: 9;
$zIndexDatePicker: 99;
//
$button-border-radius: 5px;