$layoutSmallMin: 300px;
$layoutSmallMax: 600px;
$layoutMediumMin: $layoutSmallMax;
$layoutMediumMax: 800px;
$layoutLargeMin: $layoutMediumMax;
$layoutLargeMax: 1366px;
$layoutXLargeMin: $layoutLargeMax;
// font
$fontSizeXSmall: fontSize(.65);
$fontSizeSmall: fontSize(.85);
$fontSizeBase: fontSize(1);
$fontSizeMedium: fontSize(1.25);
$fontSizeLarge: fontSize(1.5);
$fontSizeXLarge: fontSize(2);
$fontSizeXXLarge: fontSize(4);
// colors
$bodyBgColor: rgba(250, 250, 250, .85);
$borderColor: #c9c9c9;
// timing
$transitionShortDuration: 150ms;
$transitionMediumDuration: 300ms;
$transitionLongDuration: 600ms;
// easing
$easeIn: cubic-bezier(0.465, 0.183, 1, 1);
$easeOut: cubic-bezier(0, 0, 0.153, 0.946);
$easeInOut: cubic-bezier(0.465, 0.183, 0.153, 0.946);
// zIndex
$zIndexBase: 1;
$zIndexSidenav: 90;
$zIndexMainHeader: 91;
$zIndexDialog: 92;
$zIndexDatePicker: 92;
//
$borderRadius: 5px;
$button-border-radius: $borderRadius;
