.round-image {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    padding: 0;
    justify-content: space-around;
    img {
        width: 100%;
        height: auto;
    }
    .name-abbr {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: silver;
        color: black;
        text-align: center;
    }
}