.sidenav {
    position: fixed;
    #{$float}: 0;
    z-index: $zIndexMainHeader;
    top: 0;
    bottom: 0;
    width: 50%;
    max-width: 256px;
    background: $light;
    transition: all $transitionMediumDuration;
    overflow: auto;

    @include translate3d(100%, 0, 0);
    &.sidenav-open {
        @include translate3d(0, 0, 0);
    }
    @include mediaQueryBelow {
        width: 75vw;
    }
    @include mediaQuerySmall {
        width: 100%;
        max-width: none;
    }
}
