<md-input-container class="md-block">
    <label for="id">id</label>
    <input type="text" name="id" ng-model="vm.user.id" id="id"/>
</md-input-container>
<md-input-container class="md-block">
    <label for="firstName">firstName</label>
    <input type="text" name="firstName" ng-model="vm.user.firstName" id="firstName" minlength="2" required/>
    <div ng-messages="vm.userForm.firstName.$dirty && vm.userForm.firstName.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="minLength">Characters must be longer than 2</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label for="lastName">lastName</label>
    <input type="text" name="lastName" ng-model="vm.user.lastName" id="lastName" minlength="2" required/>
    <div ng-messages="vm.userForm.lastName.$dirty && vm.userForm.lastName.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="minLength">Characters must be longer than 2</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label for="email">email</label>
    <input name="email" ng-model="vm.user.email" id="email" required/>
    <div ng-messages="vm.userForm.email.$dirty && vm.userForm.email.$error">
        <div ng-message="email">Invalid email</div>
        <div ng-message="required">This field is required</div>
        <div ng-message="unique">Duplicate Entry</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label for="password">password</label>
    <textarea name="password" ng-model="vm.user.password" id="password" minlength="4" required></textarea>
    <div ng-messages="vm.userForm.password.$dirty && vm.userForm.password.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="minLength">Characters must be longer than 4</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label for="birthDate">birthDate</label>
    <input dir="ltr" name="birthDate" ng-model="vm.user.birthDate" id="birthDate" date-input required/>
    <div ng-messages="vm.userForm.birthDate.$dirty && vm.userForm.birthDate.$error">
        <div ng-message="date">Invalid date</div>
        <div ng-message="required">This field is required</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label for="gender">gender</label>
    <md-select name="gender" ng-model="vm.user.gender" id="gender">
        <md-option ng-value="1">1</md-option>
        <md-option ng-value="2">2</md-option>
    </md-select>
    <div ng-messages="vm.userForm.gender.$dirty && vm.userForm.gender.$error">
        <div ng-message="enum">Value must be one of the list items</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label for="image">image</label>
    <input type="file" accept="image/png,image/jpeg,image/pjpeg" name="image" ng-model="vm.user.image" id="image" file-upload/>
    <div ng-messages="vm.userForm.image.$dirty && vm.userForm.image.$error">
        <div ng-message="fileType">File type is not supported</div>
        <div ng-message="maxSize">File size should be less than 6144 KB</div>
    </div>
</md-input-container>