<md-dialog class="form-wrapper" aria-label="Edit User">
    <form name="vm.userForm" ng-submit="vm.editUser()" novalidate>
        <md-toolbar>
            
            <div class="md-toolbar-tools">
                <h3 class="box-title">Edit User</h3>

                <div flex></div>
                <md-button type="button" class="md-icon-button" ng-click="vm.closeFormModal()">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            
            <div ng-include="'tpl/acl/user/userForm.html'"></div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            
            <md-button type="submit" class="md-primary md-raised">Save</md-button>
            <md-button type="button" class="md-primary" ng-click="vm.closeFormModal()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>