%animated-horizontal {
    $animationOffsetHorizontal: 5%;
    transition: all $transitionLongDuration $easeInOut;
    will-change: transform, opacity;
        &.ng-enter {
            transform: translate3d($animationOffsetHorizontal, 0, 0);
        //opacity: 0;
        }

        &.ng-enter.ng-enter-active, &.ng-leave {
            transform: translate3d(0, 0, 0);
        opacity: 1;
        }

    &.ng-leave {
        position: absolute;
        top: 0;
    }
        &.ng-leave.ng-leave-active {
            transform: translate3d($animationOffsetHorizontal, 0, 0);
        opacity: 0;
    }
}