%animated-horizontal {
    $animationOffsetHorizontal: 100%;
    transition: all cubic-bezier(.1, .7, .1, 1) $transitionShortDuration;
    &.forward {
        &.ng-enter {
            transform: translate3d($animationOffsetHorizontal, 0, 0);
        }

        &.ng-enter.ng-enter-active, &.ng-leave {
            transform: translate3d(0, 0, 0);
        }

        &.ng-leave.ng-leave-active {
            transform: translate3d($animationOffsetHorizontal, 0, 0);
        }
    }
    &, &.backward {
        &.ng-enter {
            transform: translate3d(-$animationOffsetHorizontal, 0, 0);
        }

        &.ng-enter.ng-enter-active, &.ng-leave {
            transform: translate3d(0, 0, 0);
        }

        &.ng-leave.ng-leave-active {
            transform: translate3d(-$animationOffsetHorizontal, 0, 0);
        }
    }
}%animated-vertical {
    $animationOffsetHorizontal: 100%;
    transition: all cubic-bezier(.1, .7, .1, 1) $transitionShortDuration;
    &.forward {
        &.ng-enter {
            transform: translate3d(0, $animationOffsetHorizontal, 0);
        }

        &.ng-enter.ng-enter-active, &.ng-leave {
            transform: translate3d(0, 0, 0);
        }

        &.ng-leave.ng-leave-active {
            transform: translate3d(0, $animationOffsetHorizontal, 0);
        }
    }
    &, &.backward {
        &.ng-enter {
            transform: translate3d(0, -$animationOffsetHorizontal, 0);
        }

        &.ng-enter.ng-enter-active, &.ng-leave {
            transform: translate3d(0, 0, 0);
        }

        &.ng-leave.ng-leave-active {
            transform: translate3d(0, -$animationOffsetHorizontal, 0);
        }
    }
}