*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: clip;
}

body {
    font-family: $baseFontFamily;
    direction: $direction;
    background: url("../img/main-bg.jpg") no-repeat center;
    background-size: contain;
    position: relative;
    margin: 0;
    padding: 0;
}

.pane {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
