*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: $baseFontFamily;
    line-height: 1.2;
    direction: $direction;
    text-overflow: clip;
}

body {
    font-size: $fontSizeBase;
    line-height: 1.2;
    background: $bodyBgColor;
    color: $dark;
}

h1 {
    font-size: $fontSizeXLarge;
}

h2 {
    font-size: $fontSizeLarge;
}

h3 {
    font-size: $fontSizeMedium;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blue;
    outline: 0 !important;
    &:visited {
        color: $indigo;
    }
}

.pane {
    height: 100%;
    width: 100%;
    position: relative;
}

.en {
    font-family: Verdana, sans-serif;
    direction: ltr;
}

.checkbox-item {
    display: inline-block;
    margin-#{$opposite-float}: 15px;
}

.heading {
    color: $primary;
    margin-top: 30px;
}

.input-container {
    display: inline-block;
    label {
        display: block;
        color: $darkGray;
    }
    input, textarea, select {
        display: block;
        border: solid 1px $silver;
        height: 30px;
        padding: 5px;
    }
}

// material
.md-input-wrapper {
    [ng-messages] {
        color: $error !important;
        font-size: 12px;
    }
    md-chips .md-chips {
        margin-bottom: 18px;
    }
}

md-autocomplete[md-floating-label] md-input-container {
    padding-bottom: 0;
}
