*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: $baseFontFamily;
    line-height: 1.2;
    direction: $direction;
    text-overflow: clip;
}

body {
    font-size: $fontSizeBase;
    line-height: 1.2;
    background: $bodyBgColor;
    color: $dark;
    background: url("../img/main-bg.jpg") no-repeat center fixed;
    background-size: cover;
}

h1 {
    font-size: $fontSizeXLarge;
}

h2 {
    font-size: $fontSizeLarge;
}

h3 {
    font-size: $fontSizeMedium;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blue;
    outline: 0 !important;
    &:visited {
        color: $indigo;
    }
}

.pane {
    height: 100%;
    width: 100%;
    position: relative;
}

.en {
    font-family: Verdana, sans-serif;
    direction: ltr;
}
[ui-view=master]{
    background: $bodyBgColor;
}

.checkbox-item{
    display: inline-block;
    margin-#{$opposite-float}: 15px ;
}
